<div id="<%= dom_id import %>">
  <p>
    <strong>Log file:</strong>
    <%= link_to import.log_file.filename, import.log_file if import.log_file.attached? %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= import.status %>
  </p>

  <% import.matches.each_with_index do |match, i| %>
    <pre><%= JSON.pretty_generate({"game_#{i+1}" => match.cache_report&.stats}) %></pre>
  <% end %>

</div>
